#cookiesbox {
    width:100%;
    z-index:99999;
    display:none;
    position:fixed;
    bottom:0px;
    left:0px;
    text-align:center;
    background-color: #eae672;
    padding: 10px 0px;
    color: red;
    border: 1px solid black;
}

